body {
    background-color: #FFFFFF; /* Blanco como base */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    color: #4B0082; /* Morado */
}

.plantilla {
    width: 45%;
}

.partidos {
    width: 50%;
}

#nombreEquipo {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #4B0082; /* Morado */
}

#escudo {
    display: block;
    margin: auto;
    max-width: 80px;
    margin-bottom: 10px;
}

#plantilla {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

#plantilla th, #plantilla td {
    border: 1px solid #116811; /* Dorado */
    padding: 4px;
    text-align: left;
}

#plantilla th {
    background-color: #4B0082; /* Fondo morado */
    color: #FFFFFF; /* Texto blanco */
}

#plantilla td:first-child {
    font-weight: bold;
}

#plantilla tr:nth-child(odd) {
    background-color: #FFD700; /* Morado */
    color: #4B0082; /* Blanco */
}

#plantilla tr:nth-child(even) {
    background-color: #4B0082; /* Dorado */
    color: #FFD700; /* Blanco */
}

.proximopartido, .ultimosresultados {
    margin-top: 20px;
}

.proximopartido table, .ultimosresultados table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.proximopartido th, .proximopartido td, 
.ultimosresultados th, .ultimosresultados td {
    border: 1px solid #116811; /* Bordes morados */
    padding: 8px;
    text-align: center;
}

.proximopartido th, .ultimosresultados th {
    background-color: #c72b26; /* Fondo morado */
    color: #FFFFFF; /* Texto blanco */
}

.proximopartido tr:nth-child(odd), .ultimosresultados tr:nth-child(odd) {
    background-color: #FFFFFF; /* Blanco */
    color: #4B0082; /* Texto morado */
}

.proximopartido tr:nth-child(even), .ultimosresultados tr:nth-child(even) {
    background-color: rgb(255, 255, 255); /* Dorado */
    color: #4B0082; /* Blanco */
}

.proximopartido table td img, .ultimosresultados table td img {
    display: inline-block;
    max-width: 40px; /* Tamaño ajustado de los escudos */
    margin: 0 5px;
    vertical-align: middle;
}

.volver {
    position: absolute;
    top: 20px;
    left: 20px;
}

.volver button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.volver img {
    max-width: 30px;
    vertical-align: middle;
}