body {
    background-color: #7a263a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
}

.contenedor {
    display: flex; 
    justify-content: space-between;
    color: #F3D459;
}

.plantilla {
    width: 45%; 
}

.partidos {
    width: 50%; 
}

#nombreEquipo {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

#escudo {
    display: block;
    margin: auto;
    max-width: 80px;
    margin-bottom: 10px;
}

#plantilla {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

#plantilla th, #plantilla td {
    border: 1px solid #FFFFFF;
    padding: 4px;
    text-align: left;
}

#plantilla th {
    background-color: #7A263A;
    color: #F3D459;
}

#plantilla td:first-child {
    font-weight: bold;
}

#plantilla tr:nth-child(odd) {
    background-color: #7A263A;
}

#plantilla tr:nth-child(even) {
    background-color: #1BB1E7;
    color: #FFFFFF;
}

.proximopartido, .ultimosresultados {
    margin-top: 20px;
}

.proximopartido table, .ultimosresultados table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.proximopartido th, .proximopartido td, 
.ultimosresultados th, .ultimosresultados td {
    border: 1px solid #FFFFFF;
    padding: 8px;
    text-align: center;
}

.proximopartido th, .ultimosresultados th {
    background-color: #1BB1E7;
    color: #FFFFFF;
}

.proximopartido tr:nth-child(odd), .ultimosresultados tr:nth-child(odd) {
    background-color: #7A263A;
}

.proximopartido tr:nth-child(even), .ultimosresultados tr:nth-child(even) {
    background-color: #1BB1E7;
    color: #FFFFFF;
}

.proximopartido table td img, .ultimosresultados table td img {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

.volver {
    position: absolute;
    top: 20px;
    left: 20px;
}

.volver button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.volver img {
    max-width: 30px; /* Tamaño de la flecha */
    vertical-align: middle;
}